.loginPage {
    background-image: url('/Images/image01.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginPage2 {
    background-image: url('/Images/image02.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginPage3 {
    background-image: url('/Images/image03.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginForm{
    background-color: rgba(8, 28, 68, 0.6);
    color: #ffffff;
}

.loginForm2{
    background-color:#2b136e;
    color: #fffefe;
}

.employee_image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}